<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @movie_item.movie_id %>
</p>

<p>
  <b>Cart:</b>
  <%= @movie_item.cart_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @movie_item.quantity %>
</p>


<%= link_to 'Edit', edit_movie_item_path(@movie_item) %> |
<%= link_to 'Back', movie_items_path %>
