<p id="notice"><%= notice %></p>

<p>
  <b>Actor:</b>
  <%= @role_in_an_episode.actor_id %>
</p>

<p>
  <b>Episode:</b>
  <%= @role_in_an_episode.episode_id %>
</p>


<%= link_to 'Edit', edit_role_in_an_episode_path(@role_in_an_episode) %> |
<%= link_to 'Back', role_in_an_episodes_path %>
