<h2>Listing episodes</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Number</th>
		<th>Price</th>
    <th></th>
    <th></th>
  </tr>

<% @episodes.sort_by(&:number).each do |episode| %>
  <tr align ="center">
    <td><%= episode.title %></td>
    <td><%= episode.number %></td>
		<td><em><%= number_to_currency(episode.price) %></em></td>
    <td class="to_be_spaced"><%= link_to 'Show', [@series, episode] %>
		  <%= link_to 'Edit', [:edit, @series, episode] %><br />
		  <%= link_to 'Destroy', [@series, episode], confirm: 'Are you sure?', method: :delete %></td>
		<td class="to_be_spaced"><%= button_to 'Order now', episode_items_path(:episode_id => episode) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Episode', [:new, @series, :episode] %>
<%= link_to 'Series list', series_index_path %>
<%= link_to 'Home', root_path %>
