<%= form_for(@role_in_a_movie) do |f| %>
  <% if @role_in_a_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_in_a_movie.errors.count, "error") %> prohibited this role_in_a_movie from being saved:</h2>

      <ul>
      <% @role_in_a_movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actor_id %><br />
    <%= f.number_field :actor_id %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br />
    <%= f.number_field :movie_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
