<h1>Listing role_in_a_movies</h1>

<table>
  <tr>
    <th>Actor</th>
    <th>Movie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @role_in_a_movies.each do |role_in_a_movie| %>
  <tr>
    <td><%= role_in_a_movie.actor_id %></td>
    <td><%= role_in_a_movie.movie_id %></td>
    <td><%= link_to 'Show', role_in_a_movie %></td>
    <td><%= link_to 'Edit', edit_role_in_a_movie_path(role_in_a_movie) %></td>
    <td><%= link_to 'Destroy', role_in_a_movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role in a movie', new_role_in_a_movie_path %>
